<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SignUp page greets you!!</title>
  </head>
  <body>
    <form action="/app/enter" method="post" onsubmit="return true">
      <label for="name" id="name"> Name :</label> <br />
      <input type="text" id="name" name="name" placeholder="Name" /><br />

      <label for="email" id="email">Email :</label><br />
      <input
        type="email"
        id="mail"
        name="mail"
        placeholder="xyz@gmail.com"
      /><br />

      <label for="password" id="password"
        >Password (Atleast 9 characters and include 1uppercase letter and 1
        number ) :</label
      ><br />

      <input
        type="password"
        id="password"
        name="password"
        minlength="8"
        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{9,}"
        required
      /><br />

      <Label for="password2" id="password2">Confirm Password:</Label><br />
      <input
        type="password"
        id="password2"
        name="password2"
        onchange="onChange();"
        required
      /><br /><br />
      <br />

      <label for="animeList" id="animeList">Favourite Anime List:</label><br />
      <input
        type="text"
        name="animeList"
        id="animeList"
        placeholder="Anime1"
      /><br />

      <input
        type="text"
        name="animeList2"
        id="animeList"
        placeholder="Anime2"
      /><br />
      <span id="message"></span><br /><br />

      <!--Submit now-->
      <button type="submit">Submit</button>
    </form>

    
    
    
    
    <!-- password validation checkings below -->
    <script>
      function onChange() {
        const password = document.querySelector("input[name=password]");
        const confirm = document.querySelector("input[name=password2]");
        if (confirm.value === password.value) {
          confirm.setCustomValidity("");
        } else {
          confirm.setCustomValidity("Passwords do not match");
        }
      }
    </script>


  </body>
</html>
